@model IEnumerable<EmployeeApp.Models.Employee>
@{
    Layout = "_Layout";
}
<h1>All Employee Info</h1>
<p>
    <a asp-action="InsertEmployee" asp-controller="Employee">Add Employee</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.Gender)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emplo in Model)
        {
            <tr>
                <td>@emplo.Id</td>
                <td>@emplo.FirstName</td>
                <td>@emplo.LastName</td>
                <td>@emplo.Gender</td>
            </tr>
        }
    </tbody>
</table>